<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Az - Deploy scripts in one click</title>
        <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <!-- Bulma Version 0.8.x-->
        <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css" />
        <style type="text/css">

        img {
            padding: 5px;
            border: 1px solid #ccc;
        }
        #editor { 
            height: 50vh;
            border-radius: 5px;
        }
        </style>

    </head>

    <body>
        <section class="hero is-fullheight is-default is-bold">
            <div class="hero-head">
                <nav class="navbar">
                    <div class="container">
                        <div class="navbar-brand">
                            <a class="navbar-item" href="/">
                                <h1 class="title">Az</h1>
                            </a>
                            <span class="navbar-burger burger" data-target="navbarMenu">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                        </div>
                        <div id="navbarMenu" class="navbar-menu">
                            <div class="navbar-end">
                                <div class="tabs is-right">
                                    <ul>
                                        <li class="is-active"><a>New Script</a></li>
                                        <li><a href="">Features</a></li>
                                        <li><a href="">FAQ</a></li>
                                        <li><a href="">About</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="columns is-vcentered">
                        <div class="column is-12 ">
                            <h1 class="title is-2">
                                One-click python script hosting
                            </h1>
                            <h2 class="subtitle is-4">
                                Enter your code, Az hosts it in seconds. <br/>
                                No setup, no CI, no CD. You don't have anything to learn.
                            </h2>
                            <br>

                            <form method="POST" action="/">
                                <div class="columns">
                                    <div class="column is-6">
                                        <div id="editor">from flask import Flask
app = Flask(__name__)

@app.route('/')
def hello_world():
    return 'Hello, World!'
                                        </div>

                                    </div>   
                                    <div class="column is-4">
                                        {% csrf_token %}
                                        {{ form.non_field_errors }}
                                        <div class="field">
                                            <label class="label" for="{{ form.email.id_for_label}}">Email</label>
                                            <div class="control has-icons-left has-icons-right">
                                                <input class="input" type="email" placeholder="Email input" value="mike@gmail.com">
                                                <span class="icon is-small is-left">
                                                    <i class="fa fa-envelope"></i>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="field">
                                            <div class="control">
                                                <label class="checkbox" for="{{ form.agree.id_for_label}}">
                                                    <input type="checkbox">
                                                    I agree to the <a href="#">terms and conditions</a>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="field is-grouped">
                                            <div class="control">
                                                <button type="submit" class="button is-link has-margin-top-3">
                                                    <span class="icon is-medium">
                                                        <i class="fa fa-plus"></i>
                                                    </span>
                                                    <span>Host Code</span>
                                            </div>

                                        </div>
                                    </div>
                                </div>   
                            </form>
                        </div>    
                    </div>
                </div>
            </div>

            <div class="hero-foot">
                <div class="container">
                    <div class="tabs is-centered">
                        <ul>
                            <li><a>Here's to the scripters—those that get things done.</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <script src="../js/bulma.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.7/ace.js" integrity="sha256-C7DTYRJLG+B/VEzHGeoPMw699nsTQYPAXHKXZb+q04E=" crossorigin="anonymous"></script>
        <script>
            var editor = ace.edit("editor");
            editor.setTheme("ace/theme/monokai");
            editor.session.setMode("ace/mode/python");
            editor.setOption("fontSize", 16);
        </script>
    </body>

</html>
